<section class="quote-section">
    <hr class="quote-line" />
	<div class="quote-text-wrapper">
    <p class="quote-text">Ellos ya confiaron.</p>
	<p class="quote-text">Vos también podés.</p>
</div>
    <hr class="quote-line" />
</section>

<style>
.quote-section {

	background: #f8f9fa;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10rem;
}

.quote-line {
  width: 50%;
  border: none;
  border-top: 1px solid #C68B2E;
  margin: 0;
  background: none;
  height: 1px;
}

.quote-text-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.quote-text {
  font-size: 2.5rem;
  font-weight: 600;
  color: #3a3a3a;
  text-align: center;
  margin: 0;
  letter-spacing: -0.2px;
}

@media (max-width: 600px) {
  .quote-wrapper {
    max-width: 95vw;
    gap: 12px;
  }
  .quote-line {
    width: 80%;
  }
  .quote-text {
    font-size: 1.5rem;
  }
}
</style> 