---
import BaseHeader from "./parts/BaseHeader.astro";
import Navbar from "./parts/Navbar.astro";
import Footer from "./parts/Footer.astro";
---

<!doctype html>
<html>
	<BaseHeader />
	<body class="has-background-white">
		<div class="container is-fluid px-4 px-5-desktop">
			<Navbar />
			<slot />
		</div>
		<Footer />
		<script is:inline>
			AOS.init({
				duration: 800,
				once: true,
			});
		</script>
	</body>
</html>

<style></style>
