---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/home/Hero.astro";
import Diferenciales from "../components/home/Diferenciales.astro";
import Solutions from "../components/home/Solutions.astro";
import Clients from "../components/home/Clients.astro";
import ContactSection from "../components/shared/ContactSection.astro";
import Quote from "../components/shared/Quote.astro";
---

<Layout>
	<main>
		<Hero />
		<Solutions />
		<Diferenciales />
		<Clients />
		<Quote />
		<ContactSection	 />
	</main>
</Layout>
