---
import Layout from "../layouts/Layout.astro";
import ModulosHero from "../components/modulos/ModulosHero.astro";
import ModulosMedicos from "../components/modulos/ModulosMedicos.astro";
import ModulosAdministrativos from "../components/modulos/ModulosAdministrativos.astro";
import Proximamente from "../components/modulos/Proximamente.astro";
import Contact from "../components/shared/Contact.astro";
---

<Layout>
	<main>
		<ModulosHero />
		<ModulosMedicos />
		<ModulosAdministrativos />
		<Proximamente />
		<Contact />
	</main>
</Layout>

 