---
import logo from "../../assets/logo.png";
import "../../styles/styles.css";
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/png" href={logo.src} />
<link rel="sitemap" href="/sitemap-index.xml" />
<link rel="alternate" type="application/rss+xml" title={"Heclipse Salud"} />
<meta name="generator" content={Astro.generator} />

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
	href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700&family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap"
	rel="stylesheet"
/>

<!-- Font Awesome -->
<link
	rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
/>

<!-- Boxicons -->
<link
	href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
	rel="stylesheet"
/>

<!-- Animate.css -->
<link
	rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
/>

<!-- AOS -->
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

<!-- Bulma CSS -->
<link
	rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css"
/>

<!-- Smooth Scroll -->
<script
	src="https://unpkg.com/smoothscroll-polyfill@0.4.4/dist/smoothscroll.min.js"
></script>

<!-- AOS Init -->
<script is:inline src="https://unpkg.com/aos@next/dist/aos.js"></script>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Heclipse Salud</title>
	<meta
		name="description"
		content="Soluciones tecnológicas para el sector salud"
	/>
	<link rel="stylesheet" href="../../styles/styles.css" />
	<!-- Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link
		href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
		rel="stylesheet"
	/>

	<!-- Font Awesome -->
	<link
		rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
	/>
</head>
