---
import BaseHeader from "./parts/BaseHeader.astro";
import Navbar from "./parts/Navbar.astro";
import Footer from "./parts/Footer.astro";

---

<!doctype html>
<html>
	<BaseHeader />
	<body class="has-background-white">
		<div class="px-2 px-sm-4">
			<Navbar />
			<slot />
		</div>
		<Footer />
	</body>
</html>

<style>
	.px-2 {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}

	@media screen and (min-width: 768px) {
		.px-sm-4 {
			padding-left: 1.5rem;
			padding-right: 1.5rem;
		}
	}
</style>
